:root {
  --dark: #000000;
  --dark-muted: #282828;
  --light: #ffffff;
  --light-muted: #f3f3f3;
}

/* FONTS */
@font-face {
  font-family: "UberMove";
  font-display: fallback;
  src: url("/assets/fonts/UberMove-400.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "UberMove";
  font-display: fallback;
  src: url("/assets/fonts/UberMove-500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "UberMove";
  font-display: fallback;
  src: url("/assets/fonts/UberMove-700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "UberMoveText";
  font-display: fallback;
  src: url("/assets/fonts/UberMoveText-400.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "UberMoveText";
  font-display: fallback;
  src: url("/assets/fonts/UberMoveText-500.woff2") format("woff2");
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "UberMoveText";
  -webkit-font-smoothing: antialiased;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: #000000;
}

button {
  border: none;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 16px;
}

/* UTILITIE CLASSES */
.spacer-4 {
  width: 4px;
}

.spacer-8 {
  width: 8px;
}

.spacer-16 {
  width: 16px;
}

.spacer-24 {
  width: 24px;
}

.spacer-40 {
  width: 40px;
}

.v-spacer-8 {
  height: 8px;
}

.v-spacer-80 {
  height: 80px;
}

.divider {
  background-color: var(--light-muted);
  margin: 40px 0;
  height: 0.5px;
}

.disable-scroll {
  overflow: hidden;
}

/* Drawer */

#drawer-wrapper {
  display: flex;
  position: fixed;
  height: 100%;
  background: rgba(38, 38, 38, 0.8);
  min-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.4s ease-in-out;
}

#drawer-wrapper.open {
  opacity: 1;
  z-index: 999;
}

aside {
  padding: 24px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 80%;
  background-color: var(--light);
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

aside.open {
  transform: translateX(0%);
  opacity: 1;
}

aside nav {
  display: flex;
  min-height: calc(100vh - 72px);
  justify-content: space-between;
  flex-direction: column;
}

.nav-top ul {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
}

.nav-top ul a {
  margin: 12px 0;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--dark);
}

.branding-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding-label-container img {
  border-radius: 15%;
  width: 56px;
  height: 56px;
}

.branding-label-container p {
  margin-left: 4px;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
}

.nav-store-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.nav-store-container a {
  background-color: var(--light-muted);
  padding: 12px;
  border-radius: 500px;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: var(--dark);
  cursor: pointer;
}

.nav-store-container a:hover {
  background-color: rgb(211, 211, 211);
}

.nav-store-container a img {
  width: 16px;
  height: 16px;
}

.drawer-close-trigger {
  flex: 1;
  height: 100%;
}

/* Drawer - End */

/* Header Section - Start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: #fff; */
  height: 64px;
  position: fixed;
  padding: 0px 40px;
  transition: all 400ms ease;
}

.light-header {
  background: var(--light);
}

header:first-child div {
  display: flex;
  align-items: center;
  margin-left: -7px;
}

.menu-icon-container {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  transition: background 200ms cubic-bezier(0, 0, 1, 1);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-icon-container:hover {
  background-color: var(--light-muted);
}

.menu-icon {
  width: 20px;
  aspect-ratio: 1/1;
}

.logo {
  width: auto;
  height: 16px;
  margin-left: 8px;
}

.location-selection {
  opacity: 0;
  background-color: var(--dark);
  border-radius: 36px;
  gap: 4px;
  align-self: center;
  padding: 0 16px;
  height: 36px;
  transition: all 400ms ease;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #ffff;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  margin-left: 28px !important;
}

.location-selection-visible {
  opacity: 100;
}

.location-selection:hover {
  background-color: var(--dark-muted);
}

.btn {
  height: 36px;
  padding: 12px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04); */
}

.wide-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 16px;
  min-height: 56px;
  font-size: 18px;
  width: auto;
  font-weight: 500;
  cursor: pointer;
  line-height: 24px;
  text-decoration: none;
}

.dark {
  color: var(--light);
  background-color: var(--dark);
}

.dark:hover {
  background-color: var(--dark-muted);
}

.ghost {
  color: var(--dark);
  background-color: var(--light-muted);
}

.ghost:hover {
  background-color: rgb(221, 221, 221);
}

.light {
  color: var(--dark);
  background-color: var(--light);
  margin-right: 16px;
}

.light:hover {
  background-color: var(--light-muted);
}

/* Header Section - End */

/* Hero Section - Start */

main {
  height: 100vh;
  width: 100%;
  background: url(/assets/images/hero.webp) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
}

main .hero-contents {
  padding: 0px 40px;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

main .hero-contents h1 {
  font-family: "UberMove";
  display: block;
  max-width: 60%;
  margin-bottom: 40px;
  line-height: 64px;
  font-size: 52px;
  font-weight: 700;
}

.hero-elements {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.hero-element {
  display: flex;
  align-items: center;
  background: var(--light);
  line-height: 24px;
  font-weight: normal;
  font-size: 16px;
  height: 56px;
  min-height: 56px;
}

.input-field {
  min-width: 500px;
  padding: 8px 16px;
  transition: box-shadow 0.3s ease-in-out;
}

.select-field {
  height: 56px;
  cursor: pointer;
  padding-left: 4px;
  position: relative;
  user-select: none;
}

.drop-container {
  display: none;
  flex-direction: column;
  background: var(--light);
  position: absolute;
  padding: 8px 0px 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  top: 100%;
  left: 0;
  min-width: 100%;
}

.drop-container.open {
  display: flex;
}

.drop-container button {
  display: flex;
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
  align-items: center;
  color: var(--dark);
  transition: background 100ms;
  background: none;
}

.drop-container button:hover {
  background-color: var(--light-muted);
}

.drop-container .icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--light-muted);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.drop-container .icon img {
  height: 20px;
  width: 20px;
  line-height: 1;
}

.drop-container p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.dropdown {
  display: flex;
  align-items: center;
  flex-grow: 1;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
}

.hero-element input {
  border: none;
  background: #ffffff;
  outline: none;
  appearance: none;
  flex: 1;
  font-size: 16px;
  padding-bottom: 1px;
}

.hero-element input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgb(94, 94, 94);
}

.input-field:focus-within {
  box-shadow: rgb(39, 110, 241) 0px -2px 0px inset;
}

.input-field .icon-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.select-field .icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container img {
  line-height: 1;
  width: 23.9px;
  height: 23.9px;
}

.form-btn {
  height: 56px;
  min-height: 56px;
  font-size: 18px;
  color: var(--light);
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  padding: 12px 16px;
  width: max-content;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--dark-muted);
}

.sign-in-text {
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 24px;
}

.sign-in-text a {
  cursor: pointer;
  text-decoration: underline;
}

/* Main Section - End */

/* Features Section - Start */
.cards-container {
  margin-bottom: -24px;
  margin: 0px -12px;
  width: 100%;
  display: flex;
}

.card {
  padding: 0px 12px;
  width: calc(100% / 3);
  margin-bottom: 24px;
}

.card a {
  margin-bottom: 16px;
  text-decoration: none;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}

.card h2 {
  font-family: "UberMove";
  line-height: 36px;
  font-size: 28px;
  font-weight: 700;
}

.card p {
  margin-top: 8px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}

/* Features Section - End */

/* Map View - Start */
.sub-section {
  padding: 0 40px;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
}

.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
}

.heading h1 {
  font-family: "UberMove";
  line-height: 44px;
  font-weight: 700;
  font-size: 36px;
}

.heading a {
  line-height: 20px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  color: var(--dark);
}

.map-view-container {
  margin: 24px 0px;
}

.map-view-container img {
  width: 100%;
  height: auto;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 24px;
  grid-auto-flow: column;
  margin-top: 24px;
}

.grid-row-8 {
  grid-template-rows: repeat(8, 1fr);
}

.grid-view a {
  text-decoration: none;
  color: var(--dark);
  line-height: 24px;
  font-weight: 100;
  font-size: 16px;
}

/* Map View - End */

/* Footer Section - Start */

footer {
  border-top: 1px solid var(--light-muted);
  padding: 72px 0px 86px;
  background-color: var(--light);
}

.footer-content {
  max-width: 1280px;
  padding: 0 40px;
  min-width: 1024px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
}

.footer-left {
  display: flex;
  flex: 2;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.footer-left img {
  margin-bottom: 6px;
  height: 24px;
  width: auto;
  filter: unset;
  aspect-ratio: auto 146 / 24;
}

.store-container {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.store-container img {
  width: auto;
  height: 40px;
  aspect-ratio: auto 135 / 40;
  cursor: pointer;
}

.footer-middle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-link {
  line-height: 24px;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: var(--dark);
  cursor: pointer;
}

.translate-list-item {
  margin-bottom: 0px;
}

.item-link:hover {
  text-decoration: underline;
}

.translate {
  display: flex;
  align-items: center;
}

.translate-icon {
  fill: var(--dark);
  width: 16px;
  height: 16px;
}

.footer-bottom-1,
.socials-container,
.copy {
  display: flex;
}

.copy {
  justify-content: end;
}

.footer-bottom-1 {
  justify-content: space-between;
}

.socials-container a {
  text-decoration: none;
  cursor: pointer;
}

.socials-container a img {
  width: 16px;
  height: 16px;
}

.info-links {
  display: flex;
}

.info-links a {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: normal;
  color: var(--dark);
  text-decoration: none;
}

.info-links a:hover {
  text-decoration: underline;
}

.copy p {
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  color: var(--dark);
}

.copy p a {
  color: var(--dark);
  text-decoration: none;
}

.copy p a:hover {
  text-decoration: underline;
}

/* Footer Section - End */
